<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<big>
    <big>
        <h1>
            <center>Добро пожаловать на главную страницу!</center>
        </h1>
    </big>
</big>
</body>
<center>
    <nav class = 'menu'>
       <h1> <a href = "/countries_list"> Список стран</a> </h1>
        <h2> <a href = "/languages_list"> Список языков </a> </h2>
    </nav>
</center>


<footer>
    (c) Чирков Е.Ю 2022 г.
</footer>
</body>
</html>